@import "../../styles/scss/variables.scss";

.customCursorContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: 0.09s ease-out;

  &.hiddenPointer {
    opacity: 0;

    .customCursor {
      height: 0;
      width: 0;
    }
  }

  .customCursor {
    position: relative;
    margin-top: -50%;
    left: -50%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: white;
    transform: translate(-50%, -50%) rotate(0deg);
    transition:
      height 0.6s,
      width 0.6s,
      background-color 0.6s;
    overflow: visible;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    animation: rotateCursor infinite 20s linear;

    &.mouseHover {
      height: 6rem;
      width: 6rem;
    }

    .cursorDecoration1,
    .cursorDecoration2 {
      position: absolute;
      height: 10%;
      width: 102%;
      background: rgb(2, 0, 36);
      background: -moz-linear-gradient(90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(0, 0, 0, 1) 10%,
          rgba(255, 255, 255, 1) 10%,
          rgba(255, 255, 255, 1) 90%,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 1) 100%);
      background: -webkit-linear-gradient(90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(0, 0, 0, 1) 10%,
          rgba(255, 255, 255, 1) 10%,
          rgba(255, 255, 255, 1) 90%,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(0, 0, 0, 1) 10%,
          rgba(255, 255, 255, 1) 10%,
          rgba(255, 255, 255, 1) 90%,
          rgba(0, 0, 0, 1) 90%,
          rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#000000", GradientType=1);
    }

    .cursorDecoration2 {
      transform: rotate(90deg);
    }
  }

  @keyframes rotateCursor {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .customCursorText {
    white-space: nowrap;
    position: absolute;
    z-index: 2;
  }
}