@import "../../styles/scss/variables.scss";

.crtContainer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(40, 40, 40, 0.2), rgba(40, 40, 40, 0.2), transparent, transparent);
  background-size: cover;
  background-size: 100% 2px;

  position: fixed;
  width: 100dvw;
  height: 150vh;
  z-index: 30;
  animation: scanlines infinite 55s linear;
  pointer-events: none;
  user-select: none;
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -10px;
  }
}