.centerGuidelines {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.horizontalLine,
.verticalLine {
    position: absolute;
    background-color: greenyellow;
    /* Change the color to your preference */
}

.horizontalLine {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.verticalLine {
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
