@import "../../styles/scss/variables.scss";

.component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
    background-color: $carouselBG-light;
    padding: 1rem;
    border-radius: 22px;
    gap: 1rem;

    .upperControls, .verticalUpperControl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .indexWrapper {
            position: relative;

            span {
                display: inline-block;
                overflow: hidden;

                span {
                    position: relative;
                    display: block;
                    color: $light-color;
                }
            }
        }

        .expandCarouselWrapper {
            position: relative;
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
    }

    .imageContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 92%;
        .currentImageContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 300%;
            height: 100%;
            left: -100%;
            flex: 1 0 300%;

            .prevImg,
            .currentImg,
            .nextImg {
                width: 100%;
                aspect-ratio: 4/3;

                img {
                    position: relative !important;
                    object-fit: cover;
                }
            }

            .prevImg,
            .nextImg {
                img {
                    opacity: 0;
                }
            }

            
        }
        .thumbnailControlsVertical {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex: 0;
                opacity: 0;
                height: 0;
                width: 0;
                align-self: flex-end;
                margin-left: 0rem;
                gap: 1rem;

                img {
                    object-fit: cover;
                }

                .thumbnailsVertical {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    .singleThumbnailVertical {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1.6;
                        filter: grayscale(1);
                        transition: all 0.3s;

                        &:hover {
                            filter: grayscale(0.75);
                        }

                        &.currentImg {
                            filter: grayscale(0);
                        }

                        &.nextImg {
                            left: 50px;
                        }

                        &.prevImg {
                            left: -50px;
                        }

                        img {
                            border-radius: 5px
                        }
                    }
                }

                .controlsVertical {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    .prevButtonVertical,
                    .nextButtonVertical {
                        width: 2rem;
                        height: 2rem;
                        background-color: transparent;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                    }

                    .arrLeftVertical {
                        transform: rotate(-90deg);
                    }

                    .arrRightVertical {
                        transform: rotate(90deg);
                    }
                }
        }
    }

    .thumbnailControls {
        width: 100%;
        height: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        img {
            object-fit: cover;

        }

        .thumbnails {
            width: calc(100% - 110px);
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.7rem;

            .singleThumbnail {
                width: calc(20% - 10px);
                height: 100%;
                filter: grayscale(1);
                transition: all 0.3s;

                &:hover {
                    filter: grayscale(0.75);
                }

                &.currentImg {
                    filter: grayscale(0);
                }

                &.nextImg {
                    left: 50px;
                }

                &.prevImg {
                    left: -50px;
                }

                img {
                    border-radius: 5px
                }
            }
        }

        .controls {
            width: 110px;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .prevButton,
            .nextButton {
                width: 2rem;
                height: 2rem;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

            .arrLeft {
                transform: rotate(180deg);
            }
        }
    }
}