@import "../../styles/scss/variables.scss";

.carouselComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1.5rem;

  .upperControls {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 4rem);
    z-index: 2;
    overflow: hidden;

    &.isMobile {
      justify-content: flex-start;
      align-items: center;

      .indexWrapper {
        line-height: 0.7rem;
      }
    }

    .indexWrapper {
      position: relative;

      span {
        display: inline-block;
        overflow: hidden;

        span {
          position: relative;
          display: block;
          color: $light-color;
        }
      }
    }

    .expandCarouselWrapper {
      position: relative;
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 1;
      user-select: none;

      img {
        height: 40%;
      }
    }
  }

  .imageContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 90%;
    border-radius: 0.8rem;
    z-index: 0;

    .imageStackContainer {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      border-radius: 0.8rem;
      user-select: none;
      max-width: 100%;
      width: 100%;

      .imageDiv {
        position: absolute;
        width: 100%;
        aspect-ratio: 4/3;
        overflow: hidden;
        opacity: 1;
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type {
          opacity: 1;
        }

        img {
          position: relative;
          object-fit: cover;
          border-radius: 0.8rem;
          width: 100%;
        }
      }
    }

    .thumbnailControlsVertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      height: calc(100% - 3rem);
      width: 100%;
      align-self: flex-end;
      margin-left: 0rem;
      gap: 1rem;
      overflow: visible;

      img {
        object-fit: cover;
      }

      .thumbnailsVertical {
        position: relative;
        width: 100%;
        height: calc(100% - 6rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        overflow: visible;
        user-select: none;

        .thumbnailBorder {
          position: absolute;
          background-color: transparent;
          border: 1px solid white;
          transform: translate(0, var(--ty));
          transition: transform 0.6s ease-in-out;
          height: calc(var(--h) + 10px);
          width: calc(100% + 8px);
          z-index: 1;
          border-radius: 12px;
          pointer-events: none;
        }

        .singleThumbnailVertical {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 8px;
          position: relative;
          width: 100%;
          height: 100%;
          transform: translateZ(0);
          filter: grayscale(1);
          opacity: 0.3;
          transition: all 0.6s;

          &:hover {
            transform: translateZ(0);
            filter: grayscale(0.85);
          }

          &.currentImg {
            transform: translateZ(0);
            filter: grayscale(0);
            opacity: 1;
          }

          &.nextImg {
            left: 50px;
          }

          &.prevImg {
            left: -50px;
          }

          img {
            border-radius: 7px;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
      }

      .verticalNumberAndArrows {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 5rem;

        .verticalIndexWrapper {
          position: relative;
          line-height: 1.2rem;
          user-select: none;

          span {
            display: inline-block;
            overflow: hidden;

            span {
              position: relative;
              display: block;
              color: $light-color;
            }
          }
        }

        .controlsVertical {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .prevButtonVertical,
          .nextButtonVertical {
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            user-select: none;

            img {
              height: 40%
            }
          }
        }
      }
    }
  }

  .thumbnailControls {
    width: 100%;
    height: 100%;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    user-select: none;

    overflow: visible img {
      object-fit: cover;
    }

    .thumbnails {
      position: relative;
      width: calc(100% - 110px);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      overflow: visible;
      user-select: none;

      .thumbnailBorder {
        position: absolute;
        background-color: transparent;
        border: 1px solid white;
        transform: translate(var(--ty), 0);
        transition: transform 0.6s ease-in-out;
        height: calc(100% + 10px);
        width: calc(var(--w) + 8px);
        z-index: 1;
        border-radius: 12px;
        pointer-events: none;
      }

      .singleThumbnail {
        position: relative;
        width: calc(20% - 10px);
        height: 100%;
        transform: translateZ(0);
        filter: grayscale(1);
        opacity: 0.3;
        transition: all 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px;

        &:hover {
          transform: translateZ(0);
          filter: grayscale(0.85);
        }

        &.currentImg {
          transform: translateZ(0);
          filter: grayscale(0);
          opacity: 1;
        }

        &.nextImg {
          left: 50px;
        }

        &.prevImg {
          left: -50px;
        }

        img {
          border-radius: 7px;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }

    .controls {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      .prevButton,
      .nextButton {
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        user-select: none;

        img {
          height: 40%;
        }
      }
    }
  }
}