@import "../../styles/scss/variables.scss";

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1.5rem;

  .upperControls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;

    .indexWrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      span {
        display: inline-block;
        overflow: hidden;

        span {
          position: relative;
          display: block;
          color: $light-color;
        }
      }
    }

    .expandCarouselWrapper {
      position: relative;
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }

  .imageContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
    border-radius: 0.8rem;
    .imageStackContainer {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex: 1 0 100%;
      overflow: hidden;
      border-radius: 0.8rem;

      .imageDiv {
        position: absolute;
        width: 100%;
        aspect-ratio: 4/3;
        overflow: hidden;
        opacity: 0;
        border-radius: 0.8rem;

        &:first-of-type {
          opacity: 1;
        }

        img {
          position: relative;
          object-fit: contain;
          border-radius: 0.8rem;
        }
      }
    }
    .thumbnailControlsVertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex: 0;
      opacity: 0;
      height: calc(100% - 3rem);
      width: 0;
      align-self: flex-end;
      margin-left: 0rem;
      gap: 1rem;

      img {
        object-fit: cover;
      }

      .thumbnailsVertical {
        width: 100%;
        height: calc(100% - 6rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .singleThumbnailVertical {
          width: 100%;
          height: 100%;
          aspect-ratio: 1.6;
          transform: translateZ(0);
          filter: grayscale(1);
          transition: all 0.3s;

          &:hover {
            transform: translateZ(0);
            filter: grayscale(0.85);
          }

          &.currentImg {
            transform: translateZ(0);
            filter: grayscale(0);
          }

          &.nextImg {
            left: 50px;
          }

          &.prevImg {
            left: -50px;
          }

          img {
            border-radius: 5px;
          }
        }
      }
      .verticalNumberAndArrows {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 5rem;

        .verticalIndexWrapper {
          position: relative;
          line-height: 1.2rem;
          span {
            display: inline-block;
            overflow: hidden;
            span {
              position: relative;
              display: block;
              color: $light-color;
            }
          }
        }

        .controlsVertical {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .prevButtonVertical,
          .nextButtonVertical {
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow: hidden;
          }

          .arrLeftVertical {
            transform: rotate(-90deg);
          }

          .arrRightVertical {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .thumbnailControls {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    img {
      object-fit: cover;
    }

    .thumbnails {
      width: calc(100% - 80px);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.2rem;

      .singleThumbnail {
        width: calc(20% - 3px);
        height: 100%;
        transform: translateZ(0);
        filter: grayscale(1);
        transition: all 0.3s;

        &:hover {
          transform: translateZ(0);
          filter: grayscale(0.85);
        }

        &.currentImg {
          transform: translateZ(0);
          filter: grayscale(0);
        }

        &.nextImg {
          left: 50px;
        }

        &.prevImg {
          left: -50px;
        }

        img {
          border-radius: 3px;
        }
      }
    }

    .controls {
      width: 4.6rem;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;

      .prevButton,
      .nextButton {
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .arrLeft {
        transform: rotate(180deg);
      }
    }
  }
}
