@import "../../styles/scss/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;

  .line {
    position: absolute;
    width: 0vw;
    height: 1px;
    background-color: $semitransparentDark5;
    transition: background-color 0.4s;
    animation: drawHLine cubic-bezier(0.7, 0, 0.3, 1) 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: calc(0.3s * var(--i));
  }
  @keyframes drawHLine {
    0% {
      width: 0vw;
    }
    100% {
      width: 100vw;
    }
  }
}

html[data-theme="dark"] {
  .line {
    transition: background-color 0.4s;
    background-color: $semitransparentLight5;
  }
}
