@import "../../styles/scss/variables.scss";

.projectModalContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    width: 90vw;
    .closeModalBtn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        transition: border 0.3s;
        &:before,&:after {
            content: "";
            position: absolute;
            width: 3px;
            height: 24px;
            background-color: black;
            transition: width 0.3s, height 0.3s;
        }
    
        &:before {
            transform: rotate(45deg);
        }
    
        &:after {
            transform: rotate(-45deg);
        }
        &.light {
            transition: border 0.3s;
            border: 1px solid black;

            &:before, &:after {
                width: 1px;
                height: 14px;
                transition: width 0.3s, height 0.3s;
            }
        }
    }
    
    .projectCarouselWrapper{
        width: 50%;
        height: 100%;
        position: relative;
        padding: 1rem;
        flex: 1;
    }
    .projectModalDescriptionWrapper{
        position: relative;
        height: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;// Hide scrollbar for IE and Edge
        scrollbar-width: none; //firefox
        padding: 1rem;
        overflow-y: hidden;
        box-sizing: border-box;
        flex: 1;
        .projectDescriptionComponent {
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            -ms-overflow-style: none; // Hide scrollbar for IE and Edge
            scrollbar-width: none; //firefox
            &::-webkit-scrollbar {
                display: none; //chrome and safari
            }
        }
        &::-webkit-scrollbar {
            display: none; //chrome and safari
        }
        .projectModalName{
            font-size: 3rem;
        }
        table {
            color: $dark-color;
            font-size: 1.5rem;
            .bottomBorder{
                border-bottom: 1px solid $semitransparent1;
            }
            tr{
                td:last-of-type{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                .characteristic{
                    color: $semitransparent3;
                }
                &.descriptionTitle > td {
                    padding-bottom: 0rem;
                }
                &.description > td {
                    padding-top: 0rem;
                }
            }
        }
        .fadeEffect {
            width: 100%;
            height: 2rem;
            display: flex;
            bottom: -1px;
            position: sticky;
        }
    }
}