@import "../../styles/scss/variables.scss";

.projectModalContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255,255,255,0);
    opacity: 0;
    width: 90vw;
    .closeModalBtn{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        height: 2rem;
        width: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:before,&:after {
            content: "";
            position: absolute;
            width: 3px;
            height: 24px;
            background-color: black;
        }
    
        &:before {
            transform: rotate(45deg);
        }
    
        &:after {
            transform: rotate(-45deg);
        }
    }
    .projectCarouselWrapper{
        background-color: rgba(109, 0, 0, 0.5);
        width: 50%;
        height: 96%;
        position: relative;
        top: 1rem;
        left: 1rem;
        border-radius: 22px;
        padding: 1rem;
    }
    .projectModalDescriptionWrapper{
        position: relative;
        top: 1rem;
        left: 2rem;
        width: 46%;
        height: 96%;
        .projectModalName{
            font-size: 3rem;
        }
        .projectModalWorkingFor{
            font-size: 1.8rem;
            color: rgba(0,0,0,0.4);
            span{
                color: black;
            }
        }
        table {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.4);
            tr{
                border-bottom: 1px solid $semitransparent1;
                &:last-of-type {
                    border-bottom: none;
                }
                td:last-of-type{
                    padding-top: 1rem;
                        padding-bottom: 1rem;
                    color: black;
                }
            }
        }
    }
}