.nav {
    position: absolute;
    writing-mode: vertical-lr;
    top: 50%;
    transform: rotateZ(0deg) translate(0, -50%);
    box-sizing: content-box;
    pointer-events: auto;
    display: flex;

    a {
        padding: 3rem 2rem;

        >div {
            position: relative;
            display: flex;
            overflow: hidden;
        }

        &:first-of-type {
            padding-bottom: 1.5rem;
        }

        &:last-of-type {
            padding-top: 1.5rem;
        }
    }

    &__navItem {
        &__singleNavItem {
            position: relative;
            transform-origin: right;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}