@import "./variables.scss";

.PNFcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3dvh;

  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  max-height: 100dvh;
  max-width: 100dvw;

  @media screen and (max-width: $breakpointTablet) {
    gap: 6dvh;
  }

  .bgTitle {
    position: absolute;
    top: 0;
    left: 0;
  }

  .firstP {
    font-size: $xxl-fs;
    padding: 0;
    margin: 0;

    @media screen and (max-width: $breakpointTablet) {
      font-size: calc($xl-fs * 1.5);
    }
  }

  .imgContainer {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
      padding: 1rem 0;
      z-index: 1;
      max-width: 70dvw;
      max-height: 70dvh;
      transform: translateZ(0px);
      filter: grayscale(1);
    }

    span {
      font-style: italic;
    }

    @media screen and (max-height: 400px) {
      display: none;
    }
  }

  a {
    font-size: $xl-fs;
    text-decoration: underline calc($xl-fs * 0.1);
  }

  @media screen and (max-height: 700px) {
    transform: scale(0.7) !important;
  }
}