.meBkgrdTxt{
    color: rgba(0,0,0,0.03);
    font-size: 100vh;
    position: fixed;
    pointer-events: none;
    user-select: none;
}
.meContainer{
    position: relative;
    &__txt{
        font-size: 2rem;
        line-height: 4rem;
        letter-spacing: 5px;
        &__standard{
            opacity: 0.4;    
        }
        &__big{
            font-size: 4rem;
            opacity: 1;
            letter-spacing: 2px;
            &__welcome {
                position: absolute;
                display: block;
                overflow: visible;
                font-size: 6rem;
                top: -40px;
                left: -80px;
                opacity: 0.3;
                > span {
                    position: relative;
                    top: 2rem;
                    opacity: 0;
                    animation: flip 3s infinite;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    animation-delay: calc(0.1s * var(--i))
                }
                @keyframes flip {
                    0% {top: 2rem; opacity: 0;}
                    25% {top: 0rem; opacity: 1;}
                    60% {top: 0rem; opacity: 1;}
                    90% {top: -3rem; opacity: 0;}
                    100% {top: -3rem; opacity: 0;}
                  }
            }
        }
    }
}