@import "./variables.scss";

@font-face {
    font-family: "Playfair--Display";
    src: url("../../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../public/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf") format("ttf");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Tahoma',
        'Arial',
        sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 100dvh;
    max-width: 100dvw;
    overflow: hidden;
    cursor: auto;

    .slideRight,
    .slideLeft {
        position: absolute;
        top: 0;
        height: 100dvh;
        width: 100dvw;
        background-color: #333333;
        transform-origin: left;
    }

    .slideLeft {
        transform-origin: right;
    }

    .underlineLineWithAnim {
        display: inline-block;

        &::before {
            display: inline;
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            left: 0;
            top: 100%;
            background-color: $black;
        }

        &::after {
            display: inline;
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            left: 0;
            top: 100%;
            background-color: $semitransparentLight3;
            animation: underlineAnimation 4s linear infinite;
        }
    }

    @keyframes underlineAnimation {
        0% {
            width: 0;
            left: 0;
        }

        40% {
            width: 0;
            left: 0;
        }

        50% {
            width: 20%;
            left: 50%;
        }

        60% {
            width: 0;
            left: 100%;
        }

        100% {
            width: 0;
            left: 100%;
        }
    }

    .mainMotionDiv {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        height: 100dvh;
        width: 100dvw;
        background-color: inherit;
    }

    .quickTransition {
        transition: all 0.1s !important;
    }

    &.light {
        background-color: var(--light-color);
        color: $semitransparentDark1;
        transition:
            background-color $change-theme-duration,
            color $change-theme-duration;
    }

    &.dark {
        background-color: var(--dark-color);
        color: $semitransparentLight1;
        transition:
            background-color $change-theme-duration,
            color $change-theme-duration;
    }

    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }

    box-sizing: border-box;
    transition: all $change-theme-duration;

    img {
        pointer-events: none;
        user-drag: none;
        -webkit-user-drag: none;
    }

    &.light>* {
        background-color: inherit;
        color: inherit;
        transition: all $change-theme-duration;
        transition: background-color $change-theme-duration linear;

        .sectionBkgrdTxt {
            color: rgba($semitransparentDark5, 0.05);
            transition: color $change-theme-duration;
        }

        .projectModalContainer {
            color: $semitransparentDark1;
            transition: background-color $change-theme-duration linear;

            .carouselComponent {
                background-color: $black;
            }

            table {
                color: $semitransparentDark1;

                tr {
                    .characteristic {
                        color: $semitransparentDark1;

                        span {
                            position: relative;
                            display: inline-block;

                            &:after {
                                background-color: $semitransparentDark5;
                            }
                        }
                    }
                }
            }
        }

        .invertImg {
            filter: invert(0);
            transition: filter $change-theme-duration;

            >* {
                transition: filter $change-theme-duration;
                filter: invert(0);
            }
        }
    }

    &.dark>* {
        background-color: inherit;
        color: inherit;
        transition: all $change-theme-duration;
        transition: background-color $change-theme-duration linear;

        .sectionBkgrdTxt {
            color: rgba($semitransparentLight5, 0.05);
            transition: color $change-theme-duration linear;
        }

        .projectModalContainer {
            color: $semitransparentLight1;
            transition: background-color $change-theme-duration linear;

            .carouselComponent {
                background-color: $black;
            }

            table {
                color: $semitransparentLight1;

                tr {
                    .characteristic {
                        color: $semitransparentLight1;

                        span {
                            position: relative;
                            display: inline-block;

                            &:after {
                                background-color: $semitransparentLight5;
                            }
                        }
                    }
                }
            }
        }

        .invertImg {
            filter: invert(1);
            transition: filter $change-theme-duration linear;

            >* {
                transition: filter $change-theme-duration linear;
                filter: invert(1);
            }
        }
    }

    main {
        height: 100dvh;
        max-height: 100dvh;
        min-width: 100dvw;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: inherit;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

html[data-theme="dark"] {
    .underlineLineWithAnim {
        &::before {
            transition: background-color $change-theme-duration;
            background-color: $white;
        }

        &::after {
            transition: background-color $change-theme-duration;
            background-color: $semitransparentDark5;
        }
    }
}

#guidelines {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    &.show {
        div {
            opacity: 1;
            height: 50dvh;
            width: 50dvw;
            border: 1px solid rgba(255, 0, 0, 0.571);
            z-index: 1;
            pointer-events: none;
        }
    }
}

a,
button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

a:focus,
a:active,
button:focus,
button:active {
    outline: none;
    background-color: transparent;
}