@import "./variables.scss";

@font-face {
  font-family: "Playfair--Display";
  src: url("../../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
  src: url("../../public/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf")
    format("ttf");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair--Display", serif;
  font-size: 14px; 
  @media screen and (max-width: 992px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px){
    font-size: 8px;
  }
  @media screen and (max-width: 567px) {
    font-size: 7px;
  }
  @media screen and (max-width: 456px) {
    font-size: 5px;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  cursor: auto;
  transition: transform $parallax-duration;

  .slideRight,
  .slideLeft {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #333333;
    transform-origin: left;
  }
  .slideLeft {
    transform-origin: right;
  }

  .mainMotionDiv {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
  }

  &.lightMode {
    background-color: $light-color;
    color: $semitransparentDark1;
    transition:
      background-color $change-theme-duration,
      color $change-theme-duration;
  }

  &.darkMode {
    background-color: $dark-color;
    color: $semitransparentLight1;
    transition:
      background-color $change-theme-duration,
      color $change-theme-duration;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  box-sizing: border-box;
  transition: all $change-theme-duration;
  user-select: none;
  img {
    pointer-events: none;
    user-drag: none;
  }

  &.lightMode > * {
    background-color: inherit;
    color: inherit;
    transition: all $change-theme-duration;
    transition: background-color $change-theme-duration linear;
    .sectionBkgrdTxt {
      color: $semitransparentDark5;
      transition: color $change-theme-duration;
    }
    .projectModalContainer {
      color: $semitransparentDark1;
      background-color: $light-color;
      transition: background-color $change-theme-duration linear;
      .carouselComponent {
        background-color: $semitransparentDark1;
      }
      table {
        color: $semitransparentDark1;
        .bottomBorder {
          border-bottom: 1px solid $semitransparentDark4;
        }
        tr {
          .characteristic {
            color: $semitransparentDark1;
            span {
              position: relative;
              display: inline-block;
              width: auto;
              &:after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 1rem;
                top: 1.2rem;
                background-color: $semitransparentDark5;
              }
            }
          }
        }
      }
      .fadeEffectBox {
        background-image: linear-gradient(0deg, inherit, transparent);
      }
    }
    .invertImg {
      filter: invert(0);
      transition: filter $change-theme-duration;
      > * {
        transition: filter $change-theme-duration;
        filter: invert(0);
      }
    }
  }
  &.darkMode > * {
    background-color: inherit;
    color: inherit;
    transition: all $change-theme-duration;
    transition: background-color $change-theme-duration linear;
    .sectionBkgrdTxt {
      color: $semitransparentLight5;
      transition: color $change-theme-duration linear;
    }
    .projectModalContainer {
      color: $semitransparentLight1;
      background-color: $dark-color;
      transition: background-color $change-theme-duration linear;
      .carouselComponent {
        background-color: $semitransparentDark1;
      }
      table {
        color: $semitransparentLight1;
        .bottomBorder {
          border-bottom: 1px solid $semitransparentLight5;
        }
        tr {
          .characteristic {
            color: $semitransparentLight1;
            span {
              position: relative;
              display: inline-block;
              width: auto;
              &:after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 1rem;
                top: 1.2rem;
                background-color: $semitransparentLight5;
              }
            }
          }
        }
      }
      .fadeEffectBox {
        background-image: linear-gradient(0deg, inherit, transparent);
      }
    }
    .invertImg {
      filter: invert(1);
      transition: filter $change-theme-duration linear;
      > * {
        transition: filter $change-theme-duration linear;
        filter: invert(1);
      }
    }
  }

  main {
    height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
