$light-color: #dadba3;
$dark-color: #17182e;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    cursor: none;
    &::-webkit-scrollbar {
        display: none;
    }
    box-sizing: border-box;
    transition: all 0.2s;
    user-select: none;
    img{
        pointer-events: none;
        user-drag: none;
    }
    .lightMode{
        color: $dark-color;
        background: $light-color;
        filter: invert(0);
    }
    .darkMode{
        //color: $light-color;
        background: $dark-color;
        filter: invert(1);
        img {
            filter: invert(0);
        }
    }
}
main {
    height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }

    body {
        color: $dark-color;
        background: $light-color;
        ::after{
            filter: invert(0);
        }
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: $light-color;
        background: $dark-color;
        ::after{
            filter: invert(1);
        }
        img {
            filter: invert(0);
        }
    }
}