$BG-Color-transition-duration: 10s;
$change-theme-duration: 0.4s;
$parallax-duration: 0.4s;
$carousel-duration: 0.8s;

$light-color: hsl(69, 90%, 90%);
$dark-color: hsl(237, 30%, 15%);

$black: hsla(0, 0%, 0%, 1);
$semitransparentDark1: hsla(0, 0%, 0%, 0.9);
$semitransparentDark2: hsla(0, 0%, 0%, 0.7);
$semitransparentDark3: hsla(0, 0%, 0%, 0.5);
$semitransparentDark4: hsla(0, 0%, 0%, 0.3);
$semitransparentDark5: hsla(0, 0%, 0%, 0.1);

$gray1: hsl(0, 0%, 20%);
$gray2: hsl(0, 0%, 40%);
$gray3: hsl(0, 0%, 50%);
$gray4: hsl(0, 0%, 80%);
$gray5: hsl(0, 0%, 60%);

$white: hsla(0, 0%, 100%, 1);
$semitransparentLight1: hsla(0, 0%, 100%, 0.9);
$semitransparentLight2: hsla(0, 0%, 100%, 0.7);
$semitransparentLight3: hsla(0, 0%, 100%, 0.5);
$semitransparentLight4: hsla(0, 0%, 100%, 0.3);
$semitransparentLight5: hsla(0, 0%, 100%, 0.1);

.lightMode {
  background-color: $light-color;
  color: $dark-color;
}

.darkMode {
  background-color: $dark-color;
  color: $light-color;
}
