$light-color: #dadba3;
$dark-color: #17182e;
$white: #FFFFFFFF;
$black: #000000FF;
$gray: #333333FF;
$semitransparent1: #00000011;
$semitransparent2: #ffffff11;
$semitransparent3: rgba(0, 0, 0, 0.4);
$semitransparent4: rgba(134, 134, 134, 0.4);

$carouselBG-light: rgba(109, 0, 0, 0.5);
$carouselBG-dark: rgba(215, 65, 65, 0.5);