.frameContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  z-index: 5;
  pointer-events: none;
}
.frameContainer__left, .frameContainer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.frameContainer__left {
  align-items: flex-start;
}
.frameContainer__left__logo {
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.frameContainer__left__logo span {
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  overflow: visible !important;
}
.frameContainer__left__logo .letterY {
  opacity: 1;
}
.frameContainer__left__logo .letterA {
  opacity: 0;
  left: 0px;
  transition: all 0.5s cubic-bezier(0.16, -0.05, 0.53, 0.02);
}
.frameContainer__left__logo .letterS {
  opacity: 0;
  left: 24px;
  transition: all 0.5s cubic-bezier(0.16, -0.05, 0.53, 0.02);
}
.frameContainer__left__logo:hover .letterA {
  opacity: 1;
  left: 24px !important;
  transition: all 0.5s cubic-bezier(0.21, 1.02, 0.7, 1.01);
}
.frameContainer__left__logo:hover .letterS {
  opacity: 1;
  left: 48px !important;
  transition: all 0.5s cubic-bezier(0.21, 1.02, 0.7, 1.01);
}
.frameContainer__right {
  align-items: flex-end;
}
.frameContainer__right__theme {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s, transform 1s;
  top: -1rem;
  right: -1.25rem;
  transform: rotate(0deg);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: auto;
}
.frameContainer__right__theme:hover {
  opacity: 0.5;
}
.frameContainer__right__theme__light {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -1rem;
  right: -1.25rem;
}
@keyframes rotateFirstSun {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(30deg) rotateY(360deg);
  }
}
.frameContainer__right__theme__light .firstSun {
  animation: rotateFirstSun 20s linear infinite alternate;
}
.frameContainer__right__theme__light .secondSun {
  animation: rotateFirstSun 20s linear infinite alternate;
  animation-delay: 2.5s;
}
.frameContainer__right__theme__light .thirdSun {
  animation: rotateFirstSun 20s linear infinite alternate;
  animation-delay: 5s;
}
.frameContainer__right__theme__dark {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 1rem;
  right: 1.25rem;
}
@keyframes showStars {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.frameContainer__right__theme__dark .moonStars1 {
  opacity: 0;
  animation: showStars 5s linear infinite alternate;
  animation-delay: 1s;
}
.frameContainer__right__theme__dark .moonStars2 {
  opacity: 0;
  animation: showStars 5s linear infinite alternate;
  animation-delay: 4s;
}
.frameContainer__right__nav {
  padding: 1rem 2rem 1rem 1rem;
  transform: translateX(2rem);
  box-sizing: content-box;
  pointer-events: auto;
}
.frameContainer__right__nav ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}
.frameContainer__right__nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  opacity: 1;
  margin: 0.5rem 0rem;
  cursor: pointer;
}
.frameContainer__right__nav ul li div {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  transition: all 0.3s linear 0.3s;
}
.frameContainer__right__nav ul li div span {
  position: relative;
  display: block;
  top: 1.5rem;
  opacity: 0;
  white-space: break-spaces;
  font-size: 1rem;
  line-height: 1rem;
  transition: font-size 0.4s;
}
.frameContainer__right__nav ul li:after {
  display: block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  aspect-ratio: 1;
  border: 1px solid rgba(0, 0, 0, 0.5333333333);
  background-color: rgba(0, 0, 0, 0.5333333333);
  border-radius: 50%;
  margin-left: auto;
  transition: all 0.3s;
}
.frameContainer__right__nav ul li:hover {
  color: #dadba3;
  background-color: #17182e;
  border-radius: 0.7rem;
}
.frameContainer__right__nav ul li:hover:after {
  width: 10rem !important;
  height: 2.8rem !important;
}
.frameContainer__right__nav ul li:hover > div > span {
  font-size: 1.7rem;
  line-height: 1.7rem;
}
.frameContainer__right__nav:hover ul > li div {
  opacity: 1;
  margin-right: 0.8rem;
  transition: all 0s linear 0s;
}
.frameContainer__right__nav:hover ul > li div span {
  opacity: 1;
  animation: flip 0.1s 1;
  animation-fill-mode: forwards;
  animation-delay: calc(0.05s * var(--i));
}
@keyframes flip {
  0% {
    top: 1.5rem;
  }
  40% {
    top: 0rem;
  }
  100% {
    top: 0rem;
  }
}
.frameContainer__right__nav:hover ul > li:after {
  width: 10rem;
  height: 1.4rem;
  border-radius: 0.7rem;
  background-color: transparent;
  transition: width 0.6s, height 0.6s, background-color 0.6s;
}
.frameContainer__right__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: auto;
}
.frameContainer__right__contacts__social {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}
.frameContainer__right__contacts__social:hover {
  opacity: 0.5;
}