html,
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  cursor: none;
  box-sizing: border-box;
  transition: all 0.2s;
  user-select: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
html img,
body img {
  pointer-events: none;
  user-drag: none;
}
html .lightMode,
body .lightMode {
  color: #17182e;
  background: #dadba3;
  filter: invert(0);
}
html .darkMode,
body .darkMode {
  background: #17182e;
  filter: invert(1);
}
html .darkMode img,
body .darkMode img {
  filter: invert(0);
}

main {
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #17182e;
    background: #dadba3;
  }
  body ::after {
    filter: invert(0);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #dadba3;
    background: #17182e;
  }
  body ::after {
    filter: invert(1);
  }
  body img {
    filter: invert(0);
  }
}